<section id="schedule" class="schedule">
    <div class="content-wrapper">
        
        <div class="schedule-table col-lg-8 col-md-10 col-md-offset-1">
            <h4 class="schedule-table-heading">15 Octobre 2014</h4>
            <div class="timeslot track-header stick-header">
                <div class="track-header-label">Horraires</div>
                <div class="timeslot-elements flexbox-wrapper">
                    
                    
                    <div class="track-header-slot col-md-4 flexbox-item-height hidden-xs">
                        <h5 class="track-header-title">Android</h5>
                    </div>
                    
                    
                    <div class="track-header-slot col-md-4 flexbox-item-height hidden-xs">
                        <h5 class="track-header-title">Web &amp; Cloud</h5>
                    </div>
                    
                    
                    <div class="track-header-slot col-md-4 flexbox-item-height hidden-xs">
                        <h5 class="track-header-title">Community</h5>
                    </div>
                    
                    <div class="track-header-slot col-xs-12 visible-xs">
                        <h5 class="slot-detail track-header-title">Community</h5>
                    </div>
                </div>
            </div>
         </div>
    </div>
</section>